@page
@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<section class="main-content">
    <div class="textbox">
        <h1>Welcome to Game Store</h1>
        <p>Game Store is an online service for video game purchases</p>

        <p>	Click the Shop button to go thorugh list of currently available games you can buy.</p>
        <p>We sell range of technology and entertainment</p>
        <p>We do not buy or sell counterfeit products in Game Store.</p>
        <p>Products can be bought here on the website or in our physical store: 50 Shakespeare St, Nottingham NG1 4FQ, United Kingdom </p>

    </div>

    <aside class="main-aside">
        <aside class="contact">
            <h3>Contact us</h3>
            <ul>
                <li>Email : gamestore@gmail.com</li>
                <li>Phone : 0295 346 1586</li>
            </ul>
        </aside>
    </aside>
</section>
